[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
pymysql = "*"
django-dotenv = "*"
requests = "*"
python-gettext = "*"
pathspec = "*"
pipenv-to-requirements = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
