<div class="flex flex-col w-full">
  <a
    href="{% url 'users:github-login' %}"
    class="
      w-full
      bg-gray-700
      text-center
      rounded-lg
      py-5
      text-white
      font-bold
      mb-2
    "
  >
    <i class="fab fa-github mr-2 fa-lg"></i> 깃허브로 로그인</a
  >
  <a
    href="{% url 'users:kakao-login' %}"
    class="
      w-full
      bg-yellow-300
      text-center
      rounded-lg
      py-5
      text-yellow-900
      font-bold
      mb-2
    "
  >
    <i class="fas fa-comment mr-2 fa-lg"></i>카카오로 로그인
  </a>
</div>
