{% extends "base.html" %} {% block page_name %} Home {% endblock page_name %}
{%block content %}
<div>
  {% for room in page.object_list %}
  <h1>{{room.name}}/ ${{room.price}}</h1>
  {% endfor %}
</div>
<h5>
  {% if page.has_previous %}
  <a href="/?page={{page.previous_page_number}}">Previous</a>
  {% endif %}
  <span>Page {{page.number}} of {{page.paginator.num_pages}}</span>
  {% if page.has_next %}
  <a href="/?page={{page.next_page_number}}">Next</a>
  {% endif %}
</h5>
<h4>
  {% for page in page_range %}
  <a href="/?page={{page}}">{{page}}</a>
  {% endfor%}
</h4>
{% endblock content %}
