{% extends "base.html" %} {% block page_name %} Home {% endblock page_name %}
{%block content %}
<div>
  {% for room in rooms.object_list %}
  <h1>{{room.name}}/ ${{room.price}}</h1>
  {% endfor %}
</div>
<h5>
  {% if rooms.has_previous %}
  <a href="/?page={{rooms.number|add:-1}}">Previous</a>
  {% endif %}
  <span>Page {{rooms.number}} of {{rooms.paginator.num_pages}}</span>
  {% if rooms.has_next %}
  <a href="/?page={{rooms.number|add:1}}">Next</a>
  {% endif %}
</h5>
<h4>
  {% for page in page_range %}
  <a href="/?page={{page}}">{{page}}</a>
  {% endfor%}
</h4>
{% endblock content %}
