{% extends "base.html" %}

{% block page_title %}
    {{room.name}}'의 사진
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    
    <div class="container mx-auto my-auto px-4 flex gap-8 justify-between content-center">

        

        {% for photo in room.photos.all  %}
            <div class=" w-1/3 rounded-lg mx-auto w-11/12 my-36 flex border  shadow-2xl border-gray-200 justify-between p-6">
                <div class="flex flex-col justify-center items-center">
                    <img src="{{photo.file.url}}" class="w-32 h-32 rounded-xl" />
                </div>
                <div class="flex flex-col w-1/4  place-items-center">
                    <a class="btn-link mb-5 bg-green-500" href="{% url 'rooms:edit-photo' room.pk photo.pk %}">수정</a>
                    <a class="btn-link bg-red-600" href="{% url 'rooms:delete-photo' room.pk photo.pk %}">삭제</a>
                </div>
            </div>
        {% endfor %}

        

    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="w-full flex justify-center mb-5">
            <a href="{% url 'rooms:add-photo' room.pk %}" class="text-red-500 font-bold text-xl">사진 올리기</a>
        </div>
        <div class="flex justify-center mb-10">
            <a href="{% url 'rooms:edit' room.pk %}" class="text-green-500 font-bold text-xl">정보수정으로 돌아가기</a>
        </div>
    </div>
    
{% endblock content %} 