@tailwind base;
@tailwind components;

.search-box{
    transition: box-shadow 0.2s linear;
}

.nav_link{
    @apply ml-8 border-b-2 border-white hover:border-gray-600 px-2 h-full flex items-center;
    a {
        @apply py-10 px-5;
    }
}

.btn{
    @apply w-full
    text-center
    rounded-lg
    py-5
    font-bold
    mb-2;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

input,
textarea,
select  {
    @apply w-full rounded-lg py-5 px-5 text-left font-bold border border-gray-400 mb-3 focus:outline-none focus:border-red-500
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 50px;
}


form {
    .input {
      @apply mb-3;
      &.has_error {
        input {
          @apply bg-red-200 border-gray-400;
          &:focus {
            @apply border-gray-600;
          }
        }
      }
    }
  }

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

@tailwind utilities;

