{% extends "base.html" %}

{% block page_title %}
    {{user.first_name}}'의 예약내역
{% endblock page_title %}

{% block content %}

    <div class="min-h-75vh">

        <h3 class="my-36 text-3xl text-center text-bold">{{user.first_name}}님이 예약한 객실</h3>

        <div class="container mx-auto pb-10 ">
            <div class="flex flex-wrap -mx-40 mb-10"> 
                {% for reservation in reservations  %}
                    {% include 'mixins/reservation_card.html' with reservation=reservation %}
                {% endfor %}
            </div>
        </div>


    </div>


        
{% endblock content %} 