{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container sm:w-9/12 md:w-1/2 lg:w-5/12 xl:w-1/4 rounded-lg mx-auto w-11/12 my-36 flex flex-col border shadow-2xl border-gray-200 items-center p-6">
        {% include 'partials/social_login.html' %}

        <form method="POST" action="{% url "users:signup" %}" class="w-full">
            {% csrf_token %}

            
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            {% endif %}
            
            {% for field in form %}
                {% include 'partials/form_input.html' with field=field %}
            {% endfor %}
                
            <button class="btn bg-red-500 text-white">회원가입</button>
        </form>

        <div class="mt-5">
            <span class="mr-2">계정이 있으신가요 ? </span> 
            <a href="{% url 'users:login' %}" class="text-green-500 font-bold">로그인</a>
        </div>

    </div>
        
{% endblock content %} 