{% extends "base.html" %}

{% block page_title %}
    회원가입
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container sm:w-9/12 md:w-1/2 lg:w-5/12 xl:w-1/4 rounded-lg mx-auto w-11/12 my-36 flex flex-col border shadow-2xl border-gray-200 items-center p-6">
        {% include 'partials/social_login.html' %}
        {% include 'mixins/auth/auth_form.html' with form=form cta="회원가입" %}

        <div class="mt-5">
            <span class="mr-2">계정이 있으신가요 ? </span> 
            <a href="{% url 'users:login' %}" class="text-green-500 font-bold">로그인</a>
        </div>

    </div>
        
{% endblock content %} 