{% extends "base.html" %}

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container sm:w-9/12 md:w-1/2 lg:w-5/12 xl:w-1/4 rounded-lg mx-auto w-11/12 my-36 flex flex-col border shadow-2xl border-gray-200 items-center p-6">

            {% include 'mixins/auth/auth_form.html' with form=form cta="Update profile" %}

            <div class="mt-5">
                <a href="{% url 'users:signup' %}" class="text-teal-500 font-medium">비밀번호 변경</a>
            </div>
    </div>
{% endblock content %} 